# Lecture - Pandas basics

- pandas.Series
- pandas.DataFrame
- read_csv
- indexing
- plotting

## Pandas Series

- can create from dictionary
- can create from list
- can create from np.array

In [19]:
import pandas as pd

programs_dict = dict(AI=26, NET=38, Java=30, UX=28)

programs_series = pd.Series(programs_dict)

programs_series

AI      26
NET     38
Java    30
UX      28
dtype: int64

In [20]:
# extract values using indexing
print(f"{programs_series[0] = }")
print(f"{programs_series[-1] = }")


print(f"{programs_series['UX'] = }")
# get keys

print(f"{programs_series.keys() = }")
print(f"{programs_series.keys()[0] = }")

programs_series[0] = 26
programs_series[-1] = 28
programs_series['UX'] = 28
programs_series.keys() = Index(['AI', 'NET', 'Java', 'UX'], dtype='object')
programs_series.keys()[0] = 'AI'

In [21]:
import random as rnd

rnd.seed(1337)  # Seed to get the same value everytime.

# Creating a series from a list
dice_series = pd.Series(
    [rnd.randint(1, 6) for _ in range(10)]
)  # Creating dice through list comprehension
dice_series.head()  # check the first five using head method / inspects the five (default) rows

0    5
1    5
2    6
3    3
4    5
dtype: int64

In [22]:
dice_series

0    5
1    5
2    6
3    3
4    5
5    5
6    6
7    2
8    3
9    4
dtype: int64

In [23]:
print(
    f"smallest value: {dice_series.min()} in spot: {dice_series.argmin()}"
)  # finds the smallest value, argmin shows at what spot it is in the series

print(
    f"largest value: {dice_series.max()} in spot: {dice_series.argmax()}"
)  # finds the smallest value, argmin shows at what spot it is in the series

print(
    f"average value: {dice_series.mean()}"
)  # finds the smallest value, argmin shows at what spot it is in the series

print(
    f"median value: {dice_series.median()}"
)  # sort all values in order - pick the middle one, if middle are 2 numbers calculate average of them

smallest value: 2 in spot: 7
largest value: 6 in spot: 2
average value: 4.4
median value: 5.0

---
## DataFrame

- tabular data with rows and columns
- analog to 2D numpy arrays with flexible row indices and column names.
- "specialized" dictionary with column name mapped to a Series object

In [24]:
df_programs_example = pd.DataFrame(programs_series, columns=("Number_of_students",)) 
df_programs_example

      Number_of_students
AI                    26
NET                   38
Java                  30
UX                    28

In [25]:
# create 2 Series objects
students = pd.Series({"AI": 26, "NET": 38, "UX": 28, "Java": 30})
skills = pd.Series({"AI": "Python", "NET": "C#", "UX": "Figma", "Java": "Java"})

# create a DataFrame from 2 Series objects
df_programs = pd.DataFrame({"Students": students, "Skills": skills})

df_programs

      Students  Skills
AI          26  Python
NET         38      C#
UX          28   Figma
Java        30    Java

In [26]:
df_programs["Students"] # "indexing" kindof. Can get

AI      26
NET     38
UX      28
Java    30
Name: Students, dtype: int64

In [27]:
df_programs["Students"].mean(), (26+38+30+28)/4

(30.5, 30.5)

In [28]:
median_student_number = df_programs["Students"].median()

print(f"Median students in the programs {df_programs.index.to_list()} is {median_student_number:.0f}")

Median students in the programs ['AI', 'NET', 'UX', 'Java'] is 29

In [29]:
#df_programs[]

## Indexers

* loc - slicing and indexing using explicit index
* iloc - slicing and indexing using Python-style indexing

In [30]:
df_programs

      Students  Skills
AI          26  Python
NET         38      C#
UX          28   Figma
Java        30    Java

In [31]:
df_programs.loc["AI"]

Students        26
Skills      Python
Name: AI, dtype: object

In [32]:
df_programs.loc[["AI", "UX"]]

    Students  Skills
AI        26  Python
UX        28   Figma

In [33]:
df_programs.iloc[1:3] # python style indexing.

     Students Skills
NET        38     C#
UX         28  Figma

## Masking

In [34]:
df_programs

      Students  Skills
AI          26  Python
NET         38      C#
UX          28   Figma
Java        30    Java

In [59]:
df_programs["Students"]  >= 30

AI      False
NET      True
UX      False
Java     True
Name: Students, dtype: bool

In [36]:
#using masking to filter the DataFrame
df_programs_over_29 = df_programs[df_programs["Students"] >= 30]
df_programs_over_29

      Students Skills
NET         38     C#
Java        30   Java

In [37]:
df_programs

      Students  Skills
AI          26  Python
NET         38      C#
UX          28   Figma
Java        30    Java

___
## Excel data

In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel("../Data/calories.xlsx")
df.head()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FoodCategory      2225 non-null   object
 1   FoodItem          2225 non-null   object
 2   per100grams       2225 non-null   object
 3   Cals_per100grams  2225 non-null   object
 4   KJ_per100grams    2225 non-null   object
dtypes: object(5)
memory usage: 87.0+ KB

In [40]:
df.shape # returns rows and columns

(2225, 5)

In [41]:
# we can see that there are beverages and food
df["FoodCategory"].unique()

array(['CannedFruit', 'Fruits', 'Tropical&ExoticFruits', 'PotatoProducts',
       'Vegetables', 'FastFood', 'Pizza', 'Cheese', 'CreamCheese',
       'Milk&DairyProducts', 'SlicedCheese', 'Yogurt', 'Beef&Veal',
       'ColdCuts&LunchMeat', 'Meat', 'Offal&Giblets', 'Pork',
       'Poultry&Fowl', 'Sausage', 'Venison&Game', 'Cakes&Pies',
       'Candy&Sweets', 'IceCream', '(Fruit)Juices',
       'AlcoholicDrinks&Beverages', 'Beer',
       'Non-AlcoholicDrinks&Beverages', 'Soda&SoftDrinks', 'Wine',
       'CerealProducts', 'Oatmeal,Muesli&Cereals', 'Pasta&Noodles',
       'Dishes&Meals', 'Soups', 'Legumes', 'Nuts&Seeds', 'Oils&Fats',
       'VegetableOils', 'BakingIngredients', 'Fish&Seafood',
       'Herbs&Spices', 'Pastries,Breads&Rolls', 'Sauces&Dressings',
       'Spreads'], dtype=object)

In [42]:
df["per100grams"].unique()

array(['100g', '100ml'], dtype=object)

## Data cleaning and explorations

- type convert string objects with numerical values to int
- change column names
- separate into liquids and solids

In [43]:
df.head()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ

In [44]:
# renaming columns
df = df.rename(
    dict(Cals_per100grams="Calories", KJ_per100grams="kJ", per100grams="per100"),
    axis="columns",
)

df.head()

  FoodCategory             FoodItem per100 Calories      kJ
0  CannedFruit           Applesauce   100g   62 cal  260 kJ
1  CannedFruit      Canned Apricots   100g   48 cal  202 kJ
2  CannedFruit  Canned Blackberries   100g   92 cal  386 kJ
3  CannedFruit   Canned Blueberries   100g   88 cal  370 kJ
4  CannedFruit      Canned Cherries   100g   54 cal  227 kJ

In [ ]:
# Converting Calories to int.
df["Calories"] = df["Calories"].str[:-3].astype(int) # Chaining several functions/methods.

In [57]:
df["Calories"].head()

0    62
1    48
2    92
3    88
4    54
Name: Calories, dtype: int32

In [58]:
# counts the frequency of each element in per 100
df["per100"].value_counts()

100g     1802
100ml     423
Name: per100, dtype: int64

In [63]:
# seperate liquids and solids
# filter out all liquids
df_solids = df[df["per100"] == "100g"]
df_liquids = df[df["per100"] == "100ml"]

#filter out all solids

df_liquids.head()

           FoodCategory       FoodItem per100  Calories      kJ
409  Milk&DairyProducts    Almond Milk  100ml        17   71 kJ
410  Milk&DairyProducts     Buttermilk  100ml        62  260 kJ
412  Milk&DairyProducts   Coconut Milk  100ml       230  966 kJ
422  Milk&DairyProducts  Hot Chocolate  100ml        89  374 kJ
423  Milk&DairyProducts          Kefir  100ml        55  231 kJ

In [64]:
df_solids.head()

  FoodCategory             FoodItem per100  Calories      kJ
0  CannedFruit           Applesauce   100g        62  260 kJ
1  CannedFruit      Canned Apricots   100g        48  202 kJ
2  CannedFruit  Canned Blackberries   100g        92  386 kJ
3  CannedFruit   Canned Blueberries   100g        88  370 kJ
4  CannedFruit      Canned Cherries   100g        54  227 kJ

In [65]:
# check that we only have 100ml in per100
df_liquids["per100"].value_counts()

100ml    423
Name: per100, dtype: int64

## Assignment from super buff stakeholder

-Find the most calorie rich solids and liquids.

In [72]:
solids_sorted_calories = df_solids.sort_values(by="Calories", ascending = False) # ascending - False -> descending

solids_sorted_calories.iloc[:10] # Gets top ten highest calories

           FoodCategory              FoodItem per100  Calories       kJ
1621              Soups               Goulash   100g      1009  4238 kJ
1761          Oils&Fats                  Lard   100g       902  3788 kJ
528           Beef&Veal           Beef Tallow   100g       902  3788 kJ
1756          Oils&Fats             Goose Fat   100g       898  3772 kJ
599                Meat           Chicken Fat   100g       898  3772 kJ
675                Pork                  Lard   100g       898  3772 kJ
1897  BakingIngredients         Vegetable Oil   100g       884  3713 kJ
1898  BakingIngredients  Vegetable Shortening   100g       884  3713 kJ
527           Beef&Veal             Beef Suet   100g       854  3587 kJ
1768          Oils&Fats           Real Butter   100g       720  3024 kJ

In [74]:
solids_top5_calories = solids_sorted_calories.head()
solids_top5_calories

     FoodCategory     FoodItem per100  Calories       kJ
1621        Soups      Goulash   100g      1009  4238 kJ
1761    Oils&Fats         Lard   100g       902  3788 kJ
528     Beef&Veal  Beef Tallow   100g       902  3788 kJ
1756    Oils&Fats    Goose Fat   100g       898  3772 kJ
599          Meat  Chicken Fat   100g       898  3772 kJ

In [75]:
solids_sorted_liquids = df_liquids.sort_values(by="Calories", ascending = False).head() # ascending - False -> descending AND get only the top 5

solids_sorted_liquids

       FoodCategory        FoodItem per100  Calories       kJ
1751      Oils&Fats   Cod Liver Oil  100ml      1000  4200 kJ
1808  VegetableOils  Wheat Germ Oil  100ml       929  3902 kJ
1800  VegetableOils      Salmon Oil  100ml       911  3826 kJ
1789  VegetableOils    Menhaden Oil  100ml       911  3826 kJ
1759      Oils&Fats     Herring Oil  100ml       902  3788 kJ

In [76]:
df["FoodCategory"].value_counts()

BakingIngredients                95
Cakes&Pies                       91
Herbs&Spices                     90
Beer                             85
Candy&Sweets                     81
Pastries,Breads&Rolls            78
Dishes&Meals                     78
Oatmeal,Muesli&Cereals           76
FastFood                         72
Vegetables                       63
Legumes                          62
Fish&Seafood                     60
Fruits                           54
Sauces&Dressings                 54
Cheese                           53
Soups                            52
Non-AlcoholicDrinks&Beverages    51
AlcoholicDrinks&Beverages        48
Sausage                          47
(Fruit)Juices                    46
Meat                             46
IceCream                         45
Soda&SoftDrinks                  45
CerealProducts                   44
Pizza                            43
Pasta&Noodles                    40
Yogurt                           40
Nuts&Seeds                       39
Spreads                          39
Wine                             39
Pork                             39
Beef&Veal                        39
PotatoProducts                   39
Tropical&ExoticFruits            39
Venison&Game                     36
ColdCuts&LunchMeat               35
SlicedCheese                     34
Poultry&Fowl                     33
Offal&Giblets                    33
VegetableOils                    33
Milk&DairyProducts               33
Oils&Fats                        30
CannedFruit                      29
CreamCheese                      17
Name: FoodCategory, dtype: int64

In [84]:
# top five food categories by calories
df.groupby("FoodCategory").median().sort_values(by="Calories", ascending=False).head()

C:\Users\Agam\AppData\Local\Temp\ipykernel_7820\185226903.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("FoodCategory").median().sort_values(by="Calories", ascending=False).head()

                        Calories
FoodCategory
VegetableOils              884.0
Oils&Fats                  883.0
Nuts&Seeds                 534.0
Candy&Sweets               448.0
Oatmeal,Muesli&Cereals     373.5