# anonymization

- pseudoanonymization

In [22]:
import hashlib as hl

string_to_hash = "supersäkert_lösen0rd".encode()
string_to_hash2 = "Supersäkert_lösen0rd".encode()

# Hashing always creates 64 long strings.

hl.sha256(string_to_hash).hexdigest(), hl.sha256(string_to_hash2).hexdigest()

('919508f6494495c4bbebc2c87f3dee7b9245bebcd462ec1591fedc5e7fca0386',
 '98b8b43ac8e49f673fd150ebf3d8c39fc4f5a76edfee2b4150a17757d2f58743')

In [23]:
# Are they the same?

hl.sha256(string_to_hash).hexdigest() == hl.sha256("supersäkert_lösen0rd".encode()).hexdigest()

True

In [24]:
import pandas as pd

df=pd.read_csv("../Data/BankChurners.csv", usecols = ["CLIENTNUM", "Attrition_Flag", "Customer_Age", "Gender", "Total_Trans_Amt"])

In [25]:
df.head()

   CLIENTNUM     Attrition_Flag  Customer_Age Gender  Total_Trans_Amt
0  768805383  Existing Customer            45      M             1144
1  818770008  Existing Customer            49      F             1291
2  713982108  Existing Customer            51      M             1887
3  769911858  Existing Customer            40      F             1171
4  709106358  Existing Customer            40      M              816

In [26]:
df["CLIENTNUM"] = df["CLIENTNUM"].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CLIENTNUM        10127 non-null  object
 1   Attrition_Flag   10127 non-null  object
 2   Customer_Age     10127 non-null  int64
 3   Gender           10127 non-null  object
 4   Total_Trans_Amt  10127 non-null  int64
dtypes: int64(2), object(3)
memory usage: 395.7+ KB

In [27]:
# With hashlib we hashed one string.
# How do we hash a whole column?

hashes_clientnum = df["CLIENTNUM"].apply(lambda x: hl.sha256(x.encode()).hexdigest())
#Lambda does: x encodes and hashes every row in column
# .apply changes something in every row in column/series.

In [29]:
df.insert(1, "Hash_Client_Num", hashes_clientnum)

df.head()

,CLIENTNUM,Hash_Client_Num,Attrition_Flag,Customer_Age,Gender,Total_Trans_Amt
0,768805383,c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...,Existing Customer,45,M,1144
1,818770008,7996e2340d70489252370a5df035ec99381c8344cc3511...,Existing Customer,49,F,1291
2,713982108,6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...,Existing Customer,51,M,1887
3,769911858,f86b86a1047317685f29c399059b199858685faf5ec6a8...,Existing Customer,40,F,1171
4,709106358,0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...,Existing Customer,40,M,816